# systemd unit file for the Vigilant Emitor

[Unit]
# Human readable name of the unit
Description=Vigilant Emitor
Requires=vigilant_receiver.service
After=vigilant_receiver.service

[Service]
# Command to execute when the service is started
ExecStart=+/bin/bash -c "source /opt/vigilant/venv/bin/activate && python3 /opt/vigilant/emitor/emit.py"

#WorkingDirectory=/opt/vigilant/emitor

# Disable Python's buffering of STDOUT and STDERR, so that output from the
# service shows up immediately in systemd's logs
Environment=PYTHONUNBUFFERED=1

# Automatically restart the service if it crashes
Restart=on-failure
RestartSec=5

# Our service will notify systemd once it is up and running
Type=simple

# Use a dedicated user to run our service
User=vigilant
Group=vigilant

[Install]
# Tell systemd to automatically start this service when the system boots
# (assuming the service is enabled)
#WantedBy=default.target
WantedBy=multi-user.target